*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.login-page {
  display: flex;
  flex-wrap: wrap !important;
  align-content: center !important;
}

/* ---menu--- */

ul li {
list-style: none;
text-decoration: none;
float: left;
font-size: larger;
font-weight: 600;
color: #6bb9d1 !important;
}


/* --login page--- */

.option-two{
  color: rgb(102, 202, 102);
  text-decoration: none;
}

.card-one {
  border: none;
  border-top: 8px solid #ff0;
}
.card-two {
  border: none;
  border-top: 8px solid rgb(30, 153, 190);
}
.card-three {
  border: none;
  border-top: 8px solid rgb(224, 28, 28);
}
.card-four {
  border: none;
  border-top: 8px solid rgb(195, 0, 255);
}